<template>
  <div class="grid">
    <table>
      <tr v-for="(row, rowIndex) in grid" v-bind:key="row.id">
        <td
          :class="tile.symbol ? 'greyed' : ''"
          v-for="(tile, columnIndex) in row"
          v-bind:key="tile.id"
        >
          <tile
            v-on:capture="onCapture"
            :symbol="tile.symbol"
            :position="{ row: rowIndex, column: columnIndex }"
            :clickable="clickable && !tile.symbol"
          />
        </td>
      </tr>
    </table>
    <div v-if="symbol" class="winner">{{ symbol }}</div>
  </div>
</template>

<script>
import Tile from "./Tile.vue";

export default {
  name: "InnerGrid",
  components: {
    Tile: Tile,
  },
  props: {
    grid: Array,
    symbol: String,
    clickable: Boolean,
    position: { row: String, column: String },
  },
  methods: {
    onCapture: function (event) {
      this.$emit("capture", {
        outerRow: this.position.row,
        outerColumn: this.position.column,
        innerRow: event.row,
        innerColumn: event.column,
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid {
  position: relative;
  display: inline-block;
  height: 100%;
}

.greyed {
  background-color: lightgray;
}

tr {
  display: block;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  display: inline-block;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

.winner {
  position: absolute;
  font-size: 5rem;
  top: calc(50% - 0.55em);
  left: calc(50% - 0.55em);
  text-align: center;
}
</style>
