<template>
  <div class="grid">
    <table>
      <tr v-for="(outerRow, rowIndex) in grid" v-bind:key="outerRow.id">
        <td
          v-for="(innerGrid, columnIndex) in outerRow"
          v-bind:key="innerGrid.id"
          :class="
            !innerGrid.clickable || innerGrid.symbol || finished ? 'greyed' : ''
          "
        >
          <inner-grid
            v-on:capture="onCapture"
            :grid="innerGrid.grid"
            :clickable="innerGrid.clickable && !finished"
            :position="{ row: rowIndex, column: columnIndex }"
            :symbol="innerGrid.symbol"
          />
        </td>
      </tr>
    </table>
    <!-- <div v-if="symbol" class="winner">{{ symbol }}</div> -->
  </div>
</template>

<script>
import InnerGrid from "./InnerGrid.vue";

export default {
  name: "OuterGrid",
  components: {
    InnerGrid: InnerGrid,
  },
  data() {
    return {};
  },
  props: {
    grid: Array,
    player: String,
    finished: Boolean,
  },
  methods: {
    onCapture: function (event) {
      this.$emit("capture", {
        outerRow: event.outerRow,
        outerColumn: event.outerColumn,
        innerRow: event.innerRow,
        innerColumn: event.innerColumn,
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.grid {
  display: inline-block;
}

.greyed {
  background-color: lightgray;
}

tr {
  display: block;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

td {
  display: inline-block;
  border-left: solid black 2px;
  border-right: solid black 2px;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}
</style>
