<template>
    <div class="rules">
        <h1>Rules</h1>
        <ul>
            <li>
                Two players take turns placing a mark on the small tiles on the
                board.
            </li>
            <li>
                When a player's symbols form a line along one of the grids'
                horizontal, vertical or diagonal axes that grid is captured by
                that player.
            </li>
            <li>
                When a player places a symbol, the opposing player can only
                place a symbol on the grid that corresponds with the tile that
                the previous symbol was placed on.
                <ul>
                    <li>
                        If that grid is full or captured already, the player has
                        the freedom to place a symbol wherever they want.
                    </li>
                </ul>
            </li>
            <li>
                When a player's captured grids form a line along the outer
                grid's axes, that player wins.
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Rules",
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.rules {
    display: inline-block;
    width: 1024px;
    margin-top: 3em;
    padding: 0.8em;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

li {
    text-align: left;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1024px) {
    .rules {
        width: auto;
    }
}
</style>
