<template>
    <div v-on:click="clickHandler">{{ symbol }}</div>
</template>

<script>
export default {
    name: "Tile",
    props: {
        clickable: Boolean,
        position: { row: Number, column: Number },
        symbol: String,
    },
    data() {
        return {
            //   clickable: this.clickable,
            //   symbol: this.symbol,
        };
    },
    methods: {
        clickHandler: function () {
            if (this.clickable) {
                this.$emit("capture", {
                    row: this.position.row,
                    column: this.position.column,
                });
            }
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
    font-size: 24px;
    height: 1.5em;
    width: 1.5em;
}

@media screen and (max-width: 400px) {
    div {
        font-size: 18px;
    }
}
</style>
