<template>
    <div id="app">
        <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
        <!-- <Tile symbol="❌⭕" clickable /> -->
        <h2 v-if="this.$store.state.finished">{{ player }} wins!</h2>
        <h2 v-else>It's {{ player }}'s turn</h2>
        <outer-grid
            v-on:capture="onCapture"
            :grid="grid"
            :player="player"
            :finished="this.$store.state.finished"
        />
        <br />
        <rules />
    </div>
</template>

<script>
import Rules from "./components/Rules.vue";
// import Tile from "./components/Tile.vue";
import OuterGrid from "./components/OuterGrid.vue";
import { checkForWin } from "./checkFunctions/winChecks";
import { isGridFull } from "./checkFunctions/fullCheck";

export default {
    name: "App",
    components: {
        Rules,
        // Tile,
        OuterGrid,
    },
    data() {
        return {
            winner: "",
        };
    },
    computed: {
        grid() {
            return this.$store.state.grid;
        },
        player() {
            return this.$store.state.player;
        },
    },
    methods: {
        onCapture: function (event) {
            this.$store.commit("captureTile", event);

            const wonGrid = checkForWin(
                this.$store.state.grid[event.outerRow][event.outerColumn].grid,
                this.$store.state.player
            );
            if (wonGrid) {
                this.$store.commit("captureGrid", event);
                const wonGame = checkForWin(
                    this.$store.state.grid,
                    this.$store.state.player
                );
                if (wonGame) {
                    this.$store.commit("win");
                    return;
                }
            }

            const nextGrid = this.$store.state.grid[event.innerRow][
                event.innerColumn
            ];
            if (isGridFull(nextGrid))
                this.$store.commit("makeAllGridsClickable");
            else
                this.$store.commit("makeOneGridClickable", {
                    innerRow: event.innerRow,
                    innerColumn: event.innerColumn,
                });

            this.$store.commit("switchPlayers");
        },
    },
};
</script>

<style>
#app {
    font-family: sans-serif;
    text-align: center;
    /* color: #2c3e50; */
    margin-top: 60px;
}
</style>
